<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
{{if .EditMode }}
<h1>Enter Profile Information</h1>
<form method="POST">
	<input type="hidden" name="google_auth" value="{{.GoogleAuth}}">
	<table>
		<tr><td>email</td><td><input type="email" name="email" value="{{.Email}}" {{if .GoogleAuth}}disabled{{end}}></td></tr>
		<tr><td>Fullname</td><td><input type="text" name="fullname" value="{{.FullName}}"></td></tr>
		<tr><td>Address</td><td><input type="text" name="address" value="{{.Address}}"></td></tr>
		<tr><td>Phone Number</td><td><input type="text" name="phonenumber" value="{{.PhoneNumber}}"></td></tr>
		<tr><td></td><td><input type="submit" value="Save & Continue"> <a href="/profile"><input type="button" value="Cancel"i></a></td></tr>
	</table>
	</form>
{{else}}
	<h1>Logged in.</h1>
	<table>
		<tr><td>Email</td><td>{{.Email}}</td></tr>
		<tr><td>Fullname</td><td>{{.FullName}}</td></tr>
		<tr><td>Address</td><td>{{.Address}}</td></tr>
		<tr><td>Phone Number</td><td>{{.PhoneNumber}}</td></tr>
	</table>
		<p><a href="/profile?edit=true"><button>Edit</button></a> | <a href="/logout"><button>Logout</button></a></p>
{{end}}
</body>
</html>
